@font-face {
  font-family: 'bmspace';
  src: url('fonts/bmspa.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #284B63;
}

h1 {
  color: #F4F9E9;
  text-align: center;
  font-family: 'bmspace';
}

p {
  font-family: verdana;
  font-size: 20px;
}
.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  ]
