@font-face {
  font-family: 'bmspace';
  src: url('fonts/bmspa.TTF') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'bmspace';
}

p {
  font-family: verdana;
  font-size: 20px;
}
