/* fonts */
@font-face {
  font-family: 'bmspace';
  src: url('fonts/bmspa.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'skipstd';
  src: url('fonts/skipstd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* elements */
h1 {
  color: #F4F9E9;
  text-align: center;
  font-family: 'bmspace';
}

p {
  font-family: 'skipstd';
  font-size: 20px;
}

body {
  background-color: #284B63;
}
/* classes */
.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-image img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.farts {
  background-color: #153243;
  border-radius: 10px;
  padding: 5px;
  width: 25%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.button {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: transform 0.2s; /* Animation */
}
.button:hover {
  transform: scale(1.1); /* Scale up the button */
}

.options {
  color: #F4F9E9;
  text-align: center;
}
